<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link rel='stylesheet' href='/stylesheets/pural-style.css'/>    

<div class="container">
    <div class="container-fluid mb-4 mt-4">    
        <div class="row mt-2 m-auto text-center" style="width:90%;">
            <div class="col-12 text-dark admin-table">
                <h3 class="pt-3">Our products</h3>
                <div class="new-product bg-success block p-1">
                    <a href="/admin/new"><i style="font-size:1em; cursor:pointer" class="fas fa-plus text-white" data-toggle="tooltip" data-placement="top" title="New product" ></i></a> 
                </div>
                <table class="table table-hover table-responsive">
                    <thead class="bg-dark text-light"> 
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Type</td>
                            <td>Category</td>
                            <td>Price</td>
                            <td>Weight</td>
                            <td class="admin-description">Description</td>
                            <td>Edit</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products_array}}
                        <tr>
                            <td>{{id_prod}}</td>
                            <td>{{name}}</td>
                            <td>{{name_type}}</td>
                            <td>{{name_cat}}</td>
                            <td>${{price}}</td>
                            <td>{{weight}}</td>
                            <td class="admin-description">{{description}}</td>
                            <td> 
                                <a href="/admin/edit/{{id_prod}}" id="edit">
                                <i class="fas fa-pencil-alt text-primary"></i>
                                </a>                       
                            </td>
                            <td>
                                <a href="/admin/delete/{{id_prod}}" id="delete">
                                <i class="fas fa-times text-danger" style="cursor: pointer;"></i>
                                </a>    
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>